.photoBlock{
    width: 30%;
    padding: 20px;
    color: #333333;
    box-sizing: border-box;
}
.photoBlock img{
    margin: 20px 0;
    width: 100%;
    height: auto;
}
.pesonAge{
    font-size: 25px;
    text-align: center;

}
@media (max-width: 1200px){
    .photoBlock{
        width: 40%;
    }
}
@media (max-width: 900px){
    .photoBlock{
        width: 70%;
        order: -1;
    }
}
@media (max-width: 550px){
    .photoBlock{
        width: 90%;
        order: -1;
    }
}