#dayPerson{
    background-color: #4364c4;
}
.personInfo{
    display: flex;
    width: 67%;
    padding: 50px 0;
    margin: auto;
    justify-content: space-between;
}
.personInfo img{
    width: 40%;
}
.dayPersonText{
    color: #fff;
    width: 50%;
}
@media (max-width: 1000px) {
    .personInfo{
        flex-wrap: wrap;
        text-align: center;
        width: 60%;
    }
    .dayPersonText{
        width: 100%;
    }
    .personInfo img{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 620px){
    .personInfo{
        width: 80%;
    }
}