.blockPhotos{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto -15px;
}
.blockPhotos img{
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}
